<div id="collection-panel"> <!-- class="panel"> -->
    <!-- <p class="panel-title">
        <mat-icon>input</mat-icon>
        Collection
    </p> -->

    <p class="info info-right">
        <span *ngIf='universeService.universe.machines["PhotonCollector"] != null'>
            Photon Collectors: {{ universeService.universe.machines["PhotonCollector"].quantity }}<br/>
        </span>
        <span *ngIf='universeService.universe.machines["Paser"] != null'>
            Pasers: {{ universeService.universe.machines["Paser"].quantity }}
        </span>
    </p>

    <button mat-raised-button (click)="collectPhoton()">
        Collect photon
    </button>

    <!-- <button mat-raised-button (click)="collectMatter()"
      *ngIf="showCollectMatter()">
        Collect matter
    </button> -->
    
</div>