app-stargame {
    float: left;
    max-width: 305px;
}


p.info {
    font-size: 0.7em;
}

.info-right {
    float: right; 
    text-align: right;
    margin: 0px;
}

.deploy-button {
    margin-top: 5px;
}

.deploy-button small {
    font-style: italic;
    float: right;
}

.deploy-button .mat-icon {
    float: left;
    font-size: smaller;
    height: auto;
    width: auto;
    vertical-align: center;
}