<div id="temperature-panel" class="panel alt-theme delay-3">
  <p class="panel-title">
      <mat-icon color="primary">trending_up</mat-icon>
      Heat
  </p>
  <p>
    Universe temperature: 
    <span color="accent">
      {{ mantissa() }} x 10<sup>{{ exponent() }}</sup>K
    </span>
  </p>

  <div *ngIf="heaterExists()">
    <mat-slide-toggle 
      [checked]="isHeating()"
      (change)="onSwitchChange($event)"
      >Heating {{ isHeating() ? "on" : "off" }}</mat-slide-toggle>

    <p *ngIf="isHeating()">
      <mat-progress-bar
        color="accent"
        mode="indeterminate">
      </mat-progress-bar>
      <mat-progress-bar
        color="accent"
        mode="query">
      </mat-progress-bar>
    </p>

    <div class="clearfix">
        <p class="info info-left">
            Space Heaters: {{ universeService.universe.machines["SpaceHeater"].quantity }}<br/>
            <span [ngClass]="energyCostColour()">
                Energy draw: {{ readEnergyCostMeter() }} MeV/s
            </span>
        </p>
    </div>

  </div>
</div>

