<div id="temperature-panel" class="panel alt-theme delay-3">
  <div class="info-right progress">
    <small>Goal:</small>
    <mat-progress-spinner
      color="accent"
      mode="determinate"
      [value]="phase1Progress()"
      diameter="40"
      strokeWidth="30"
      ></mat-progress-spinner>
  </div>

  <p class="panel-title">
      <mat-icon color="primary">trending_up</mat-icon>
      Heat
  </p>
  <p>
    Universe temperature: 
    <span color="accent">
      {{ mantissa() }}&nbsp;x&nbsp;10<sup>{{ exponent() }}</sup>K
    </span>
  </p>

  <div *ngIf="heaterExists()">
    <mat-slide-toggle 
      [checked]="isHeating()"
      (change)="onSwitchChange($event)"
      >Heating {{ isHeating() ? "on" : "off" }}</mat-slide-toggle>

    <p *ngIf="isHeating()">
      <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
      <mat-progress-bar color="accent" mode="query"></mat-progress-bar>
    </p>

    <div class="clearfix">
        <p class="info info-left">
            Space Heaters: {{ universeService.universe.machines["SpaceHeater"].quantity }}<br/>
            <span *ngIf="universeService.universe.machines['HeatingArray']">
              Heating Arrays: {{ universeService.universe.machines["HeatingArray"].quantity }}<br/>
            </span>
            <span *ngIf="universeService.universe.machines['ThermalResistor']">
              Thermal Resistors: {{ universeService.universe.machines["ThermalResistor"].quantity }}<br/>
            </span>
            <span [ngClass]="energyCostColour()">
                Energy draw: {{ readEnergyCostMeter() | mev }}/s
            </span>
        </p>
    </div>

  </div>
</div>

