<div id="construction-panel" class="panel alt-theme">
    <p class="panel-title">
      <mat-icon color="accent">build</mat-icon>
       Construction
    </p>

    <p><small><small>
        Assemblers: {{ universeService.universe.machines["Assembler"].quantity }}<br/>
    </small></small></p>
        
    <p *ngIf="constructionService.isConstructing()">
      <small>Current project: {{ constructionService.currentProject.name }}</small><br/>
      <small><small>Energy draw: {{ constructionService.energyDrawPerSecond }}</small></small>

      <mat-progress-bar color="accent"
        [value]="constructionService.currentProject.progress()"
      ></mat-progress-bar>
    </p>
</div>
  
  