<div id="construction-panel" class="panel alt-theme delay-3">
    <p class="panel-title">
      <mat-icon color="accent">build</mat-icon>
       Construction
    </p>

    <div class="clearfix">
        <p class="info info-right">
            Efficiency: {{ readAssemblerEfficiency() }}<br/>
            Work: {{ readWorkMeter() | number:'1.1-1'  }}/s
        </p>

        <p class="info info-left" *ngIf="universeService.universe.machines['Assembler']">
            Assemblers: {{ universeService.universe.machines["Assembler"].quantity }}<br/>
            <span [ngClass]="energyCostColour()">
                Energy draw: {{ readEnergyCostMeter() }} MeV/s
            </span>
        </p>
    </div>

    <p *ngIf="constructionService.isConstructing()">
      <small>Building: {{ constructionService.currentProject.displayName }}</small><br/>

      <mat-progress-bar color="accent"
        [value]="constructionService.currentProject.progress()"
      ></mat-progress-bar>
    </p>

    <div class="clearfix">
        <p class="info info-left" *ngIf="universeService.universe.machines['AssemblyPlant']">
            Assembly Plants: {{ universeService.universe.machines["AssemblyPlant"].quantity }}
        </p>
    </div>
</div>
  
  