<div id="collection-panel" class="fadeInLeft"> <!-- class="panel"> -->
    <!-- <p class="panel-title">
        <mat-icon>input</mat-icon>
        Collection
    </p> -->

    <div class="energy-ticker mobile-only">
      <table>
        <tr>
            <th>Energy: </th>
            <td>{{ universeService.universe.energy | mev }} </td>
        </tr>
        <tr>
            <th>Rate: </th>
            <td>{{ meteringService.read('energy') | mev }}/s</td>
        </tr>
      </table>
    </div>

    <p class="info info-right">
        <span *ngIf='universeService.universe.machines["PhotonCollector"]'>
            Photon Collectors: {{ universeService.universe.machines["PhotonCollector"].quantity }}<br/>
        </span>
        <span *ngIf='universeService.universe.machines["Paser"]'>
            Pasers: {{ universeService.universe.machines["Paser"].quantity }}
        </span>
    </p>

    <button mat-raised-button (click)="collectPhoton()">
        Collect photon
    </button>

</div>