<button class="right" mat-button mat-dialog-close>Close</button>
<h1 mat-dialog-title>Messages</h1>
<mat-dialog-content class="log" #content>
  <mat-list class="loglist">
    <mat-list-item 
      *ngFor="let log of logService.logs; let i = index"
      [class.highlighted]="i >= logService.logs.length - logService.newLogs"
      class="logitem alt-theme"
      #messages>
      <mat-icon *ngIf="i >= logService.logs.length - logService.newLogs"
        class="alt-theme" color="accent">fiber_manual_record</mat-icon>
      <span [innerHtml]="log | safe: 'html'"></span>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>
