<button class="right" mat-button mat-dialog-close>Close</button>
<h1 mat-dialog-title>Reference</h1>
<mat-dialog-content>
    <mat-tab-group color="accent">
      <mat-tab label="Units">
        <app-help-units></app-help-units>
      </mat-tab>
      <mat-tab label="Machines">
        <app-help-machines></app-help-machines>
      </mat-tab>
      <mat-tab label="Research" *ngIf="showResearchPanel()">
        <app-help-research></app-help-research>
      </mat-tab>
      <mat-tab label="Particles" *ngIf="showParticlePanel()">
        <app-help-particles></app-help-particles>
      </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
