@import '../../../theme.scss';

$primary: map-get($butheme, primary);
$accent: map-get($butheme, accent);

td, th {
    padding: 5px;
    font-size: 0.8em;
}

th {
    text-align: left;
}

td {
    border-top: 1px dotted map-get($accent, 100);
}

.numeric {
    text-align: right;
}