<div id="hadron-panel" class="panel alt-theme delay-3">
  <p class="panel-title">
    <!-- <mat-icon color="primary">link</mat-icon> -->
    <!-- <object data="/assets/img/hadron-16px.svg" type="image/svg+xml" class="hadron-svg"></object>
    <i fa class="fa fa-link"></i> -->
    ☍ Hadrons
  </p>

  <p class="info info-right">
    Efficiency: {{ universeService.universe.machines["MesonMaker"]?.efficiency?.toPrecision(4) | number:'1.0-4' }}
  </p>

  <p class="info info-left">
    Meson Makers: {{ universeService.universe.machines['MesonMaker']?.quantity }}
  </p>

  <div class="clearfix"></div>

  <div *ngIf="universeService.isResearchedByName('Matter: Kaons')">
    <p class="info">
      π
      <mat-slider 
        min="0" step="1"
        [max]="this.universeService.universe.machines['MesonMaker']?.quantity"
        [(ngModel)]="universeService.universe.machines['MesonMaker']?.extras.kaonAssigned">
      </mat-slider>
      K
    </p>
  </div>

  <p class="info info-right" 
    *ngIf="universeService.universe.machines['BaryonBuilder']?.quantity > 0">
      Efficiency: {{ universeService.universe.machines["BaryonBuilder"]?.efficiency?.toPrecision(4) | number:'1.0-4' }}
  </p>

  <p class="info info-left"
    *ngIf="universeService.universe.machines['BaryonBuilder']?.quantity > 0">
      Baryon Builders: {{ universeService.universe.machines['BaryonBuilder']?.quantity }}
  </p>

  <div class="clearfix"></div>

  <div *ngIf="universeService.isResearchedByName('Matter: Protons') && universeService.isResearchedByName('Matter: Neutrons')">
    <p class="info">
      p
      <mat-slider 
        min="0" step="1"
        [max]="this.universeService.universe.machines['BaryonBuilder']?.quantity"
        [(ngModel)]="universeService.universe.machines['BaryonBuilder']?.extras.neutronAssigned">
      </mat-slider>
      n
    </p>
  </div>
</div>
