<div id="research-panel" class="panel delay-2">
  <p class="panel-title">
    <mat-icon color="accent">lightbulb_outline</mat-icon>
     Research
  </p>

  <p class="info info-right">
    Efficiency: {{ universeService.universe.machines["RudimentaryResearcher"]?.efficiency?.toPrecision(4) | number:'1.0-4' }}
  </p>
  <p class="info info-left">
    Researchers: {{ universeService.universe.machines["RudimentaryResearcher"]?.quantity }}
  </p>

  <div class="clearfix"></div>

  <div *ngFor="let project of projectList">
    <button 
      *ngIf="shouldShow(project)"
      mat-raised-button color="accent" 
      class="deploy-button"
      (click)="researchService.startProject(project)"
      [disabled]="!canResearch()">

      {{ project.name }} ({{ project.displayCost() }})
      <br/>
      <small>{{ project.description }}</small>
      
      <mat-progress-bar color="accent"
        *ngIf="project.progress() > 0"
        [value]="project.progress()"
      ></mat-progress-bar>
    
    </button>
  </div>


  <form #assignmentForm="ngForm">
    <p class="assignment-header">Researcher assignment:</p>

    <table>
      <tr class="project-researchers">
        <td>Project research</td>
        <td class="right-align project-researchers-count">
          {{ projectResearchers() }}
        </td>
      </tr>

      <tr>
        <td>Contraption improvement</td>
        <td class="right-align">
          <app-number-picker
            [max]="constructionMax()"
            [(value)]="universeService.universe.machines['RudimentaryResearcher'].extras.contraptionImprovement"
          ></app-number-picker>
        </td>
        <td>
          <i fa class="fa fa-circle-o-notch fa-spin improver-cog"
            *ngIf="contraptionImprovers() > 0"
            aria-hidden="true"></i>
        </td>
      </tr>

      <tr>
        <td>Researcher improvement</td>
        <td class="right-align">
          <app-number-picker
            [max]="researchMax()"
            [(value)]="universeService.universe.machines['RudimentaryResearcher'].extras.researchImprovement"
          ></app-number-picker>
        </td>
        <td>
          <i fa class="fa fa-circle-o-notch fa-spin improver-cog"
            *ngIf="researchImprovers() > 0"
            aria-hidden="true"></i>
        </td>
      </tr>

    </table>

  </form>

</div>