@import '~@angular/material/theming';
@import 'src/theme.scss';
@import 'src/style/deploy-button.scss';
@import 'src/style/panel-info.scss';

.info {
    margin-top: 0px;
    margin-bottom: 10px;
}

.assignment-header {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 0.7em;
}

th, td {
    text-align: left;
    padding-right: 10px;
}

.right-align {
    text-align: right;
}

.centre-align {
    text-align: center;
}

table {
    font-size: 0.75em;
    padding: 0px;
    min-width: 240px;
    width: auto;
}

.improver-cog {
    color: mat-color($buaccent)
}

.project-researchers-count {
    padding-right: 5em;
    height: 20px;
}