@import '../../../style/babyblue-palette';
@import '../../../style/babypink-palette';
@import '../../../style/babydark-palette';

footer {
    // border-top: solid 1px black;
    color: map-get($md-babypink, 200);
    background-color: map-get($md-babydark, 500);
    padding: 15px;
    font-size: 0.80em;
}

address {
    display: flex;
    flex-direction: row;
}

.start-again {
    cursor: pointer;
    text-decoration: underline;
}
