@import '~@angular/material/theming';
@import 'src/theme.scss';
@import 'src/style/deploy-button.scss';
@import 'src/style/panel-info.scss';

.panel {
    border-top: none;
    margin-bottom: 0px;
}

.deploy-button {
    width: 60%;
    min-height: 42px;
}

// May stop mouseout events firing incorrectly?
// Nope, doesn't get picked up, sadly.
.deploy-button .button-text {
    pointer-events: none!important;
}

// @media all and (max-width: 839px) {
//     .small-contrivance-button {
//         padding-left: 8px;
//         padding-right: 8px;
//         width: 49.05%;
//         min-width: 60px!important;
//     }
// }

@media all and (min-width: 840px) {
    .contraption-count {
        line-height: 1.5;
    }
}

mat-progress-bar {
    margin-top: 3px;
}

.build-cog {
    color: mat-color($alt2-buprimary);
    float: right;
    vertical-align: center;
}