<div class="panel alt2-theme">

  <p *ngIf="numContrivances() > 0" class="info info-right">
    <span [@workingTrigger]="workingState" class="contraption-count">
      Working: {{ contrivanceService.contraptionProperties().workingContraptions }}
    </span>
    <br/>
    <span [@faultyTrigger]="faultyState" class="contraption-count">
      Faulty: {{ contrivanceService.contraptionProperties().faultyContraptions }}
    </span>
    <br/>
    <span [@brokenTrigger]="brokenState" class="contraption-count">
      Broken: {{ contrivanceService.contraptionProperties().brokenContraptions }}
    </span>
    <br/><br/>
    <span class="contraption-count"
      *ngIf="universeService.universe.machines['Contrecycler']?.quantity > 0">
      Recyclers: {{ universeService.universe.machines['Contrecycler']?.quantity }}
    </span>
    <!-- <br/><br/>
    Efficiency: {{ readContraptionEfficiency()?.toPrecision(4) | number:'1.0-4' }}<br/>
    Work: {{ readWorkMeter()?.toPrecision(4)  | number:'1.0-3'  }}/s -->
  </p>

  <div>
    <button mat-raised-button
      class="deploy-button"
      (click)="buildContrivance()"
      (mousedown)="buildMouseDown()"
      (mouseup)="buildMouseUp()"
      (mouseout)="buildMouseOut()">

      <i fa class="fa fa-cog fa-spin build-cog"
        *ngIf="contrivanceService.isContriving"
        aria-hidden="true"></i>

      <span class="button-text">Contrive Contraption</span>

      <mat-progress-bar
        *ngIf="contrivanceService.state.constructionProgress > 0"
        color="primary"
        [value]="contrivanceService.state.constructionProgressPercent">
      </mat-progress-bar>

    </button>

    <button mat-raised-button 
      *ngIf="contrivanceService.state.generatedTotal > 0"
      class="deploy-button small-contrivance-button"
      (click)="repairContrivance()"
      [disabled]="contrivanceService.contraptionProperties().faultyContraptions === 0">

      <span class="desktop-only">Repair Faulty Contraption</span>
      <span class="mobile-only">Repair</span>

      <mat-progress-bar
        *ngIf="contrivanceService.state.repairProgress > 0"
        color="primary"
        [value]="contrivanceService.state.repairProgressPercent">
      </mat-progress-bar>

    </button>

    <!-- <button mat-raised-button 
      *ngIf="contrivanceService.state.generatedTotal > 0"
      class="deploy-button small-contrivance-button"
      (click)="salvageContrivance()"
      [disabled]="contrivanceService.contraptionProperties().brokenContraptions === 0">

      <span class="desktop-only">
        Salvage Broken Contraption<br/>
      </span>
      <span class="mobile-only">Salvage</span>

    </button> -->
  </div>

  <div class="clearfix"></div>

  <p *ngIf="constructionService.isConstructing()">
    <small>Building: {{ constructionService.currentProject.displayName }}</small><br/>

    <mat-progress-bar color="primary"
      [value]="constructionService.currentProject.progress()"
    ></mat-progress-bar>
  </p>

  <div *ngIf="universeService.universe.machines['Contraption']">
    <p class="info info-right">
        <!-- Work: {{ readWorkMeter() | illion:'1.1-3'  }}/s -->
        Work: {{ readWorkMeter()?.toPrecision(4)  | number:'1.0-3'  }}/s
    </p>

    <p class="info info-left">
        Efficiency: {{ readContraptionEfficiency()?.toPrecision(4) | number:'1.0-4' }}
    </p>
  </div>
  
  <div class="clearfix"></div>
</div>