<button mat-raised-button
  class="deploy-button"
  (click)="buildContrivance()">

  Contrive Contraption

  <mat-progress-bar
    *ngIf="contrivanceService.state.constructionProgress > 0"
    color="accent"
    [value]="contrivanceService.state.constructionProgressPercent">
  </mat-progress-bar>

</button>

<button mat-raised-button 
  *ngIf="contrivanceService.state.generatedTotal > 0"
  class="deploy-button small-contrivance-button"
  (click)="repairContrivance()"
  [disabled]="contrivanceService.state.faultyContraptions === 0">

  <span class="desktop-only">Repair Faulty Contraption</span>
  <span class="mobile-only">Repair</span>

  <mat-progress-bar
    *ngIf="contrivanceService.state.repairProgress > 0"
    color="accent"
    [value]="contrivanceService.state.repairProgressPercent">
  </mat-progress-bar>

</button>

<button mat-raised-button 
  *ngIf="contrivanceService.state.generatedTotal > 0"
  class="deploy-button small-contrivance-button"
  (click)="salvageContrivance()"
  [disabled]="contrivanceService.state.brokenContraptions === 0">

  <span class="desktop-only">
    Salvage Broken Contraption<br/>
    <small>Recycle parts to build a new Contraption</small>
  </span>
  <span class="mobile-only">Salvage</span>

</button>


<p *ngIf="numContrivances() > 0" class="info">
  <span [@workingTrigger]="workingState" class="contraption-count">
    Working: {{ contrivanceService.state.workingContraptions }}
  </span> |
  <span [@faultyTrigger]="faultyState" class="contraption-count">
    Faulty: {{ contrivanceService.state.faultyContraptions }}
  </span> |
  <span [@brokenTrigger]="brokenState" class="contraption-count">
    Broken: {{ contrivanceService.state.brokenContraptions }}
  </span>
</p>