<div id="deployment-panel" class="panel delay-1">

  <div class="info-right" *ngIf="bulk1()">
    <mat-button-toggle-group
      #group="matButtonToggleGroup"
      [value]="multiplier"
      (change)="onMultiplierChange(group.value)"
      color="primary">
      <mat-button-toggle class="multiplier-button" value="1">1x</mat-button-toggle>
      <mat-button-toggle class="multiplier-button" value="10">10x</mat-button-toggle>
      <mat-button-toggle class="multiplier-button" value="20" *ngIf="bulk2()">20x</mat-button-toggle>
      <mat-button-toggle class="multiplier-button" value="50" *ngIf="bulk2()">50x</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <p class="panel-title">
      <mat-icon color="primary">settings_ethernet</mat-icon>
      Deployment
  </p>

  <div class="clearfix supervision" *ngIf="universeService.universe.machines['Supervisor']">
    <p class="info info-right">
      Unattended efficiency: {{ universeService.universe.machines['Supervisor'].quantity * 10 }}%
    </p>
    <p class="info info-left">
      Supervisors: {{ universeService.universe.machines["Supervisor"].quantity }}
    </p>
  </div>

  <div *ngFor="let machine of machineFactory.allMachineNames">
    <app-deploy-button 
      [machineName]="machine"
      [multiplier]="this.multiplier">
    </app-deploy-button>
  </div>

</div>
  