.space-filler {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
    flex-wrap: wrap;
}
  
.debug {
    overflow-x: auto;
}

.black {
    background: black;
}

footer {
    border-top: solid 1px black;
    padding: 5px;
    font-size: 0.80em;
}

address {
    display: flex;
    flex-direction: row;
}

.start-again {
    cursor: pointer;
    text-decoration: underline;
}

/* .debug {
    display: none;
} */
