<mat-toolbar color="primary" class="mat-elevation-z5">
  <span>{{title}}</span>

</mat-toolbar> 

<blockquote>
    "The sea of baby universes, in which our universe moves, 
    evolves by exchanging information between past and future universes."
    - Sidney Coleman
</blockquote>


<mat-grid-list cols="3">

  <mat-grid-tile>
    <p>
      This is a tile
    </p>
    <button mat-button color="primary">Click me</button>
    <button mat-raised-button color="primary">Click me</button>
  </mat-grid-tile>

  <mat-grid-tile>
    <p>
      This is a different tile
    </p>
    <button mat-button color="accent">Click me</button>
    <button mat-raised-button color="accent">Click me</button>
  </mat-grid-tile>
  
  <mat-grid-tile>
    <p>
        The vacuum contains neither matter nor energy, but it does contain
        ''fluctuations,'' transitions between something and nothing in which
         potential existence can be transformed into real existence by the
        addition of energy.
    </p>
    <p>
        Thus, the vacuum's totally empty space is actually a seething 
        turmoil of creation and annihilation, which to the ordinary world
        appears calm because the scale of fluctuations in the vacuum is tiny 
        and the fluctuations tend to cancel each other out. 
    </p>

    <p>
        Every conceivable kind of subnuclear particle (along with its 
        antimatter equivalent particle) is constantly popping into existence 
        in the vacuum only to be immediately reunited with its antiparticle 
        in mutual annihilation. 
    </p>
  </mat-grid-tile>
</mat-grid-list>