<mat-toolbar color="primary" class="mat-elevation-z5" id="main-header">
  <span>{{title}}</span>
  <span class="space-filler"></span>
  <app-ticker class="desktop-only"></app-ticker>
</mat-toolbar> 

<!-- <blockquote>
    "The sea of baby universes, in which our universe moves, 
    evolves by exchanging information between past and future universes."
    - Sidney Coleman
</blockquote> -->

<div class="mdc-layout-grid" id="main-content">
  <div class="mdc-layout-grid__inner">

    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <app-log-panel></app-log-panel>
    </div>
          

    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
        <app-collection-panel></app-collection-panel>
        <app-deployment-panel *ngIf="showDeploymentPanel()"></app-deployment-panel>
    </div>

    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
      <app-research-panel *ngIf="showResearchPanel()"></app-research-panel>
      <app-construction-panel *ngIf="showConstructionPanel()"></app-construction-panel>
    </div>

    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 col3">
      <!-- <app-stargame [width]="248" [height]="248"
        *ngIf="showMatterCollectionPanel()"></app-stargame> -->
      <app-stargame [width]="300" [height]="300"
        *ngIf="showMatterCollectionPanel()"></app-stargame>
    </div>
  
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 debug">

      <hr/>
        
      <app-dev-panel></app-dev-panel>
        
      <!-- <p>
          The vacuum contains neither matter nor energy, but it does contain
          ''fluctuations,'' transitions between something and nothing in which
            potential existence can be transformed into real existence by the
          addition of energy.
      </p>
      <p>
          The vacuum's totally empty space is actually a seething 
          turmoil of creation and annihilation, which to the ordinary world
          appears calm because the scale of fluctuations in the vacuum is tiny 
          and the fluctuations tend to cancel each other out. 
      </p>
  
      <p>
          Every conceivable kind of subnuclear particle is constantly popping
          into existence in the vacuum only to be immediately reunited with
          its antiparticle in mutual annihilation. 
      </p> -->
    </div>
      
  </div>
</div>
