.debug {
    overflow-x: auto;
}

.black {
    background: black;
    height: 100vh;
    width: 100vw;
}

footer {
    border-top: solid 1px black;
    padding: 5px;
    font-size: 0.80em;
}

address {
    display: flex;
    flex-direction: row;
}

.start-again {
    cursor: pointer;
    text-decoration: underline;
}

/* .debug {
    display: none;
} */
