<app-header #header></app-header>
<app-log-drawer></app-log-drawer>

<div id="main-wrapper" [ngSwitch]="phaseToShow">
    <app-interstitial-zero *ngSwitchCase="0.5"></app-interstitial-zero>
    <app-phase-one *ngSwitchCase="1"></app-phase-one>
    <app-interstitial-one *ngSwitchCase="1.5"></app-interstitial-one>
</div>

<app-footer></app-footer>

<div class="mdc-layout-grid" *ngIf="showDebug">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 debug">
      <app-dev-panel></app-dev-panel>
    </div>
  </div>
</div>
