.space-filler {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
    flex-wrap: wrap;
}
  
.debug {
    overflow-x: auto;
}

#main-content {
    margin-top: -24px;
}

@media all and (max-width: 839px) {
    .under-840 { display: block; }
    .over-840 { display: none; }
}

@media all and (min-width: 840px) {
    .under-840 { display: none; }
    .over-840 { display: block; }
}

@media all and (min-width: 480px) and (max-width: 839px) {
    .col3 { grid-column-start: 1; grid-column-end: span 8; }    
}

/* big bang */
@keyframes bigbang {
    from {
        transform: none;
    }

    to {
        transform: scale3d(0, 0, 0) rotate(720deg) skew(360deg, 180deg);
        transform-origin: 300 300 0;
    }    
}

.bigbang {
    animation-name: bigbang;
    animation-duration: 7.5s;
    animation-fill-mode: forwards;
    height: 90vh;
}

.black {
    background: black;
}

.debug {
    display: none;
}