<div id="research-panel" class="panel delay-2">
    <div class="info-right" *ngIf="universeService.universe.machines['ParadoxGenerator']">
        <button 
          mat-raised-button
          class="deploy-button paradox-button"
          (click)="generateParadox()"
          [disabled]="distracted || canResearch">

        <mat-icon>compare_arrows</mat-icon>
        <small *ngIf="!distracted">Generate<br/>Paradox</small>
        <small *ngIf="distracted">DISTRACTED!</small>

        <mat-progress-bar
          *ngIf="distracted"
          color="accent"
          [value]="distractionProgress()">
        </mat-progress-bar>

      </button>


  </div>

  <p class="panel-title">
    <mat-icon color="accent">lightbulb_outline</mat-icon>
     Research
  </p>

  <p class="info" *ngIf="universeService.universe.machines['PhotonicPhilosopher']">
    <!-- <span *ngIf="researchService.currentProject != null">
      Currently researching: {{ researchService.currentProject.name }}<br/>
    </span> -->
    Photonic Philosophers: {{ universeService.universe.machines["PhotonicPhilosopher"].quantity }} /
      {{ universeService.universe.machines["PhotonicPhilosopher"].extras.maxAllowed }}
  </p>

  <div *ngFor="let project of projectList">
    <button 
      *ngIf="project.preconditions(universeService.universe) && !isComplete(project)"
      mat-raised-button color="accent" 
      class="deploy-button"
      (click)="researchProject(project)"
      [disabled]="!canResearch">

      {{ project.name }} ({{ project.displayCost() }})
      <br/>
      <small>{{ project.description }}</small>
      
      <mat-progress-bar color="accent"
        *ngIf="project.progress() > 0"
        [value]="project.progress()"
      ></mat-progress-bar>
    
    </button>
  </div>

</div>