$md-babypurp: (
    50 : #f1edf1,
    100 : #dbd1db,
    200 : #c4b3c4,
    300 : #ac94ac,
    400 : #9a7d9a,
    500 : #886688,
    600 : #805e80,
    700 : #755375,
    800 : #6b496b,
    900 : #583858,
    A100 : #ffacff,
    A200 : #ff79ff,
    A400 : #ff46ff,
    A700 : #ff2cff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
