$md-babyorange: (
    50 : #fceee0,
    100 : #f8d5b3,
    200 : #f3b980,
    300 : #ee9d4d,
    400 : #ea8826,
    500 : #e67300,
    600 : #e36b00,
    700 : #df6000,
    800 : #db5600,
    900 : #d54300,
    A100 : #fffdfc,
    A200 : #ffd7c9,
    A400 : #ffb096,
    A700 : #ff9d7d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
