$md-babygreen: (
    50 : #eff4eb,
    100 : #d7e3ce,
    200 : #bdd1ad,
    300 : #a3bf8c,
    400 : #8fb174,
    500 : #7ba35b,
    600 : #739b53,
    700 : #689149,
    800 : #5e8840,
    900 : #4b772f,
    A100 : #d8ffc0,
    A200 : #b8ff8d,
    A400 : #98ff5a,
    A700 : #88ff41,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
