$md-babypink: (
    50 : #fbf0f3,
    100 : #f6d8e1,
    200 : #f0bfcd,
    300 : #eaa5b9,
    400 : #e691aa,
    500 : #e17e9b,
    600 : #dd7693,
    700 : #d96b89,
    800 : #d5617f,
    900 : #cd4e6d,
    A100 : #ffffff,
    A200 : #fff6f8,
    A400 : #ffc3d1,
    A700 : #ffaabe,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
