$md-babydark: (
    50 : #e4e7e9,
    100 : #bdc2c7,
    200 : #9199a2,
    300 : #64707c,
    400 : #435260,
    500 : #223344,
    600 : #1e2e3e,
    700 : #192735,
    800 : #14202d,
    900 : #0c141f,
    A100 : #5fa4ff,
    A200 : #2c87ff,
    A400 : #006af8,
    A700 : #005fdf,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
