<div id="dev-panel">
  
  <button mat-raised-button (click)="collectPhoton()">
    Collect photon
  </button>

  <button *ngIf="machineFactory.newMachine('PhotonCollector').canSee"
     mat-raised-button color="primary" class="deploy-button"
     (click)="deployPhotonCollector()"
     [disabled]="!machineFactory.newMachine('PhotonCollector').canBuy">
    
     Deploy photon collector ({{ machineFactory.newMachine('PhotonCollector').displayCost() }})<br/>
    
    <small>
      Converts stray photons into energy
    </small>
  </button>
    
  <button mat-raised-button (click)="resetUniverse();" color="warn">RESET</button>

  <div><pre>{{ universeService.universe | json }}</pre></div>
  <div><pre>{{ machineFactory.newMachine('PhotonCollector') | json }}</pre></div>
</div>
