<div id="dev-panel">
  
  <button mat-raised-button (click)="collectPhoton()">
    Collect photon
  </button>

  <button mat-raised-button color="primary" class="deploy-button"
     (click)="deployPhotonCollector()"
     [disabled]="this.universeService.universe.energy < 5">
    
     Deploy photon collector (5 MeV)<br/>
    
    <small>
      Converts stray photons into energy
    </small>
  </button>
    
  <button mat-raised-button (click)="resetUniverse();" color="warn">RESET</button>

  <div><pre>{{ universeService.universe | json }}</pre></div>
</div>
