<div id="dev-panel">
  <h2>DEVELOPMENT</h2>

  <button mat-raised-button (click)="addEnergy(1000)">
    Add 1000 energy
  </button>

  <button mat-raised-button (click)="addEnergy(100000)">
    Add 100000 energy
  </button>
  
  <button mat-raised-button (click)="addScience(10)">
    Add 10 science
  </button>

  <button mat-raised-button (click)="addScience(100)">
    Add 100 science
  </button>

  <button mat-raised-button (click)="addScience(1000)">
      Add 1000 science
  </button>

  <button mat-raised-button (click)="addScience(100000)">
      Add 100,000 science
  </button>

  <button mat-raised-button (click)="addWork(1)">
    Add 1 work
  </button>

  <button mat-raised-button (click)="addWork(10)">
    Add 10 work
  </button>

  <button mat-raised-button (click)="addWork(1000)">
    Add 1000 work
  </button>

  <button mat-raised-button (click)="addWork(100000)">
    Add 100,000 work
  </button>

  <button mat-raised-button (click)="addWork(10000000)">
    Add 10,000,000 work
  </button>

  <button mat-raised-button (click)="addQuarks(10)">
    Add 10 quarks
  </button>

  <button mat-raised-button (click)="addQuarks(1000)">
    Add 1000 quarks
  </button>

  <button mat-raised-button (click)="addThermometer()">
    Add Thermometer
  </button>

  <button mat-raised-button (click)="resetContrivanceState()">
    Reset Contrivances
  </button>

  <!-- <app-deploy-button machineName="PhotonCollector"></app-deploy-button>
  <app-deploy-button machineName="PhotonicPhilosopher"></app-deploy-button> -->

  <button mat-raised-button (click)="saveNow();" color="primary">Save</button>  

  <button mat-raised-button (click)="resetUniverse();" color="warn">RESET</button>

  <br/>
  <button mat-raised-button (click)="stargameService.stopGame();">Stop stargame</button>  
  <button mat-raised-button (click)="stargameService.pauseGame();">Pause stargame</button>  
  <button mat-raised-button (click)="stargameService.resumeGame();">Resume stargame</button>
  <button mat-raised-button (click)="stargameService.initStage();">Init stage</button>
  
  <br/>
  <button mat-raised-button (click)="switchPhase(1);">Phase 1</button>
  <button mat-raised-button (click)="switchPhase(1.5);">Phase 1.5</button>
  <button mat-raised-button (click)="switchPhase(2);">Phase 2</button>

  <br/>
  <button mat-raised-button (click)="setTemperature(5e31);">Set temp to 5e31</button>
  <button mat-raised-button (click)="setTemperature(20000);">Set temp to 20000</button>
  <button mat-raised-button (click)="setTemperature(2e-3);">Set temp to 2e-3</button>

  <br/>
  <button mat-raised-button (click)="restoreBackup('devpanel');">Restore</button>
  <button mat-raised-button (click)="devBackup();">Backup</button>
  <button mat-raised-button (click)="restoreBackup('endphase1');">Restore endphase1</button>

  <br/>
  <button mat-raised-button (click)="showUniverse = !showUniverse">Toggle universe</button>
  <div id="universe-debug" class="desktop-only" *ngIf="showUniverse">
    <pre>{{ universeService.universe | json }}</pre>
  </div>
  <!-- <div><pre>{{ projects | json }}</pre></div> -->

  <div id="dimensions">
    Height: {{ windowHeight() }}<br/>
    Width: {{ windowWidth() }}
  </div>
</div>
