<div
  *ngIf="machine.canSee"
  [matTooltip]="machine.displayName + ': ' + machine.displayPurpose"
  matTooltipPosition="right"
  matTooltipDisabled="false"
  [matTooltipClass]="{'butooltip': true}"
  >
  <button 
    mat-raised-button color="primary" 
    class="deploy-button"
    (click)="deployMachine()"
    [disabled]="!canBuy()"
    >

    <span *ngIf="quantity > 1" class="deployment-quantity">
      {{ quantity }}x
    </span>

    {{ machine.displayName }}
    <span class="mobile-only">({{ machine.displayCost(quantity) }})</span>
    <br/>
    <small class="desktop-only">{{ machine.displayCost(quantity) }}</small>
    <small class="mobile-only">{{ machine.displayPurpose }}</small>

  </button>
</div>
