.deploy-button {
    padding-top: 6px;
    padding-bottom: 6px;
    line-height: 1.2;
    width: 300px;
    font-size: 80%;
    font-weight: 400;
    white-space: normal;
}

.deploy-button small {
    font-style: italic;
}