@import 'src/style/panel-info.scss';

.progress {
    margin-top: 5px;
    width: 50px;
}

#bosonator-assignment {
    padding: 25px 0px 0px 0px;
}

.bosonator-assigner {
    font-size: 0.64em;
    margin-bottom: -10px;
    margin-top: -10px;
}

.assigned-particle {
    width: 2em;
    display: inline-block;
    font-weight: bold;
}

.right-align {
    text-align: right;
}