<div id="phase-two">
  <div class="mdc-layout-grid" id="main-content" *ngIf="!showLogs">
    <div class="mdc-layout-grid__inner">

      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
        <phase-two-contrivances></phase-two-contrivances>
        <phase-two-deployment-panel *ngIf="showDeploymentPanel()"></phase-two-deployment-panel>
      </div>

      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
        <phase-two-research-panel *ngIf="showResearchPanel()"></phase-two-research-panel>
      </div>

      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 col3">
        <phase-two-hadron-panel *ngIf="showHadronPanel()"></phase-two-hadron-panel>
        <app-matter-table></app-matter-table>
      </div>

    </div>
  </div>

  <!-- <app-final-score></app-final-score> -->
  <app-interstitial-log *ngIf="showLogs"
    [texts]="messageText"
    textDelay="1000"
    textSpeed="50"
    (textCompleted)="textCompleted($event)"
    ></app-interstitial-log>
</div>
