/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */
/* @import '~@angular/material/prebuilt-themes/pink-bluegrey.css'; */
/* @import '~@angular/material/prebuilt-themes/purple-green.css'; */

@import '~@material/layout-grid/dist/mdc.layout-grid.min.css';

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.red { color: red }
.orange { color: #e36b00 }
.green { color: #739b53 }


#loading {
  background-color: #223344;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#loading img {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

blockquote, .log {
    font-family: 'Alegreya', serif;
}

.screen-reader-only
{
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

@media all and (min-width: 840px) { /* was 769 */
  .mobile-only {display: none;}
  .desktop-only { display: initial; }
}

@media all and (max-width: 839px) { /* was 839 */
  .mobile-only {display: initial;}
  .desktop-only { display: none; }
}

/*************************************
 PANELS
 *************************************/

 @keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-10%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft {
    animation-name: fadeInLeft;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.panel {
    border-top: solid 1px grey;
    margin-bottom: 20px;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeInLeft;    
}

.panel-title {
    /* display: inline-flex; */
}

.panel-title > .mat-icon {
    line-height: 19px!important;
    font-size: 16px;
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  animation-name: bounceIn;
}

.delay-1 {
  animation-delay: 200ms;
}

.delay-2 {
  animation-delay: 400ms;
}

.delay-3 {
  animation-delay: 600ms;
}

.delay-4 {
  animation-delay: 800ms;
}

.delay-5 {
  animation-delay: 1000ms;
}



/*************************************************/

.multiplier-button .mat-button-toggle-label-content {
  padding: 0 6px;
  line-height: 20px;
}
