/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */
/* @import '~@angular/material/prebuilt-themes/pink-bluegrey.css'; */
/* @import '~@angular/material/prebuilt-themes/purple-green.css'; */

@import '~@material/layout-grid/dist/mdc.layout-grid.min.css';

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

blockquote, .log {
    font-family: 'Lora', serif;
}

.panel {
    border-top: solid 1px grey;
    margin-bottom: 20px;
}

.panel-title {
    /* display: inline-flex; */
}

.panel-title > .mat-icon {
    line-height: 19px!important;
    font-size: 16px;
}

@media all and (min-width: 769px) {
    .mobile-only {display: none;}
    .desktop-only { display: block; }
}

@media all and (max-width: 768px) {
    .mobile-only {display: block;}
    .desktop-only { display: none; }
}