/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */
/* @import '~@angular/material/prebuilt-themes/pink-bluegrey.css'; */
/* @import '~@angular/material/prebuilt-themes/purple-green.css'; */

@import '~@material/layout-grid/dist/mdc.layout-grid.min.css';

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

blockquote, .log {
    font-family: 'Lora', serif;
}

/*************************************
 PANELS
 *************************************/

 @keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-10%, 5%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft {
    animation-name: fadeInLeft;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.panel {
    border-top: solid 1px grey;
    margin-bottom: 20px;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeInLeft;    
}

.panel-title {
    /* display: inline-flex; */
}

.panel-title > .mat-icon {
    line-height: 19px!important;
    font-size: 16px;
}

@media all and (min-width: 769px) {
    .mobile-only {display: none;}
    .desktop-only { display: block; }
}

@media all and (max-width: 768px) {
    .mobile-only {display: block;}
    .desktop-only { display: none; }
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  animation-name: bounceIn;
}
